### Build ###
target/
build/
out/
dist/
nbbuild/
nbdist/

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
.mvn/
.settings/
*.log
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Java ###
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.tar
hs_err_pid*
replay_pid*

### OS - macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

### OS - Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

### Eclipse / STS ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbproject/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log

### Temporary files ###
*.swp
*.tmp
*.bak
*.orig
*.rej

### Local Environment Files ###
.env
.env.*
